/* tablet */

@media (max-width: 992px) {

    .main-content {
        padding-left: 5px;
        padding-right: 5px;
    }

    .overlay-bg {
        /* display: none; */
        z-index: 998;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #11182780;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.1s linear;
    }

    .overlay-bg.show {
        visibility: visible;
        opacity: 1;
    }

    /* sidebar */

    .sidebar {
        transform: translateX(-362px);
    }

    .sidebar-show-mb {
        transform: translateX(0px);
    }

    .sidebar-close-btn {
        display: none;
    }

    .sidebar-header {
        padding: 12px 25px;
    }

    .sidebar-nav {
        padding-bottom: 85px;
    }

    /* header */

    .main-header {
        padding-left: 5px;
        padding-right: 5px;
    }

    .header-breadcrumb {
        display: none;
    }

    .sidebar-close-btn-mb {
        display: block;
    }

    /* dashboard */

    .dash-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 20px;
    }

    .revenue-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 30px;
        margin-top: 30px;
    }

    /* schema widgets */

    .table-pagination {
        padding: 10px 10px;
        display: flex;
        justify-content: center;
    }

    .table-pagination .pagination-btn-mb {
        display: block;
    }

    .table-pagination .results p {
        display: none;
    }

    .pagination-col nav {
        display: none;
    }
}

/* mobile */

@media (max-width: 767px) {

    .main-content {
        padding-top: 90px;
    }

    .heading-wrapper {
        margin-bottom: 20px;
    }


    /* dashboard */

    .revenue-grid {
        grid-template-columns: auto;
        grid-gap: 20px;
        margin-top: 20px;
    }

     /* schema widgets */

    .table-selection-col {
        padding: 8px 16px;
    }

    .data-table th {
        padding: 8px 16px;
    }

    .data-table td {
        padding: 13px 16px;
    }

    .login-box {
        max-width: 400px;
    }
}